﻿html, body
{
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#map_canvas
{
    height: 500px;
    width: 100%;
    background: #aaa;
}

input
{
    border: 1px solid rgba(0, 0, 0, 0.5);
}

    input.notfound
    {
        border: 2px solid rgba(255, 0, 0, 0.4);
    }

#infoMessage
{
    color: #000000;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 0px;
    display: block;
}

    #infoMessage.info
    {
        background-color: #BADA55;
    }

    #infoMessage.error
    {
        background-color: #FAB0AF;
    }
